.hero-section{
    /* height: 100vh; */
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero-section > *{
    align-items: center;
    text-align: center;
}

.hero-section .extras-info{
    background-color: #9e30e220;
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.hero-section h1{
    font-weight: 100;
    font-size: min(10vw, 4rem);
    line-height: min(10vw, 70px);
    margin: 1rem 0;
}
.hero-section .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.hero-section .numbers{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 50px;
    justify-content: center;
    padding-top: 100px;
}
.hero-section .numbers .number{ 
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
}
.hero-section .numbers .number span{ 
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);

}