:root{
    --color-primary: #41e230;
    --color-secondary: #87ebee;
    --link-color: red;
    --menu-link-color: #061a04;

    --transition: all 0.3s;
    --radius: 10px;
}
.text-bold{
    font-weight: bold;
}
.container-fluid{
    width: 100%;
}
.row{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.text-muted{
    opacity: 0.7;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container-fluid, .container{
        max-width: 90%;
        margin: 0 auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.sm-hidden{
    display: none;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}