nav{
    width: 100%;
    position: relative;
    border-bottom:  1px solid #f2fdf2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
.navbar-link{
    padding: 0 1rem;
}
a.navbar-link {
    color: var(--menu-link-color);
    text-decoration: none;
    transition: var(--transition);
}
a.navbar-link:hover {
    color: var(--color-primary)
}
.navbar-brand {
    color: #061a04;
}
.navbar-brand-logo{
    color: white;
    background: linear-gradient(125deg,rgba(65, 226, 48, 1) 0%, rgba(135, 235, 238, 1) 100%);
    padding: 10px;
    border-radius: 10px;
    text-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}
.navbar-link-cta{
    background-color: black;
    color: #f2fdf2;
}
a.navbar-link-cta{
    background-color: black;
    color: #f2fdf2;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight:  bold;
}
.navbar-menu-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}


@media only screen and (max-width: 600px) {
    .navbar-links{
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 100vh;
        transition: all 0.3s;
    }
    .navbar-links .navbar-link{
        margin-bottom: 3rem;
    }
    .navbar-links.active{
        left: 0;
    }
}